/* 这个文件里面就放 4 个页面公共的一些样式. 比如背景, 比如导航栏等 */

/* 清楚浏览器默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    /* 和父元素一样高, body 的父亲是 html, html 的父亲是浏览器窗口 */
    /* 设置html和浏览器窗口一样大，body和html一样大 */
    height: 100%;
    background-image: url(../image/cat.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 导航栏 */
.nav {
    width: 100%;
    height: 50px;
    background-color: rgba(50, 50, 50, 0.5);
    /* 半透明效果rgba(50, 50, 50, 0.5)最后一个数=1显示实的 */
    color: #fff;

    display: flex; /*完成弹性布局*/
    justify-content: flex-start;
    /*设置侧轴上的元素排列方式:
    朝着弹性容器的中央对行打包*/
    align-items: center;
}
/* 导航栏中的 logo */
.nav img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-right: 10px;
    /* 把这个属性设为 50%, 相对于元素的宽度来说的. 此处写作 20px 也是一样 */
    border-radius:50%; /*方图片改成圆角*/
}

.nav .title {
    width: 150px;
}
/* 导航栏中的span占位符 把中间撑开 */
.nav .spacer {
    height: 40px;
    /* width: 70%; */
    width: calc(100% - 300px);
}
/* 导航栏中的链接 */
.nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
    width: 80px;/* 字体内部间距*/
}
/* 版心的样式 */
.container {
    width: 1000px;
    height: calc(100% - 50px);
    margin: 0 auto;

    /* 为了让版心里面的子元素能够左右布局的方式显示, 使用 flex 布局 */
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
/* 左侧区域样式 */
.container .container-left {
    height: 100%;
    width: 200px;

     /* background-color: red; */
}

/* 右侧区域样式 */
.container .container-right {
    height: 100%;
    width: 795px;

    /* background-color: green; */

    background-color: rgba(255, 255, 255, 0.7);
     border-radius: 20px;  
}
/* 用户信息卡片, 也是在多个页面中会用到的 */
.card {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    /* 根据刚才的计算: 总宽度 200, 图片是 140, 左右的边距就是 30, 上下方边距和左右设成一样即可 */
    padding: 30px
}

/* 用户头像 */
.card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
/* 用户的名字 */
.card h3 {
    text-align: center;
    padding: 10px;
}

/* 用户的 github 链接 */
.card a {
    /* 别忘了 a 标签是行内元素, 此时设置尺寸, 边距都可能失效 */
    /*先强制将它改成块元素*/
    display: block;

    text-align: center;
    color: grey;
    font-size: 13px;
    text-decoration: none;/*去掉下划线*/
    padding: 10px;
}
/* 给文章/分类的数据设置样式 */
.card .counter {
    display: flex;
     /* 均匀排列每个元素
     每个元素周围分配相同的空间 */
    justify-content: space-around;
    padding: 5px;
}

    